.pushwoosh-tag-condition a {
    text-decoration: none;
}

.pushwoosh-tag-condition .pushwoosh-tag-list {
    width: 95px;
}

.pushwoosh-tag-condition .pushwoosh-tag-operator {
    width: 75px;
}

.pushwoosh-tag-condition .pushwoosh-tag-value.long {
    width: 70px;
}

.pushwoosh-tag-condition .pushwoosh-tag-value.short {
    width: 34px;
}

#pushwoosh_safari_title {
    width: 90%;
    float: left;
    margin: 0 5px 0 0;
}

#pushwoosh_length_over {
    margin: 3px 0 0 0;
    color: #b1b6c3;
}

#pushwoosh_checkbox_send_push {
    margin: 2px 10px 0 0;
}

#pushwoosh_message_content {
    width: 100%;
}